.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  display: flex;
}

.App-title {
  font-size: 1.5em;
  flex: 1;
}

.App-header input {
  margin-left: 4px;
  width: 50px;
}

.App-intro {
  font-size: large;
}

.App-container {
	position: relative;
	display: inline-block;
}

.App-info {
  position: absolute;
	right: 0;
  top: 0;
  display: flex;
  max-width: 100%;
}

.App-info > * {
	border: 1px solid #333;
	padding: 8px;
	width: 150px;
  margin: 4px;
  background: white;
}

.App-info p {
  margin: 4px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
